{% extends "layout.html" %} {% block content %}
<br />

<div class="uk-container">
    <div class="uk-card uk-card-default">
        <h3 class="
        uk-text-success
        uk-text-uppercase
        uk-text-large
        uk-text-bold
        uk-text-center
      ">
            - {{data.name}}
        </h3>
        <div class="uk-card-media-top">
            <img src="http://localhost:8000/static/{{data.image}}" alt="{{data.name}}" />
        </div>
        <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-primary uk-text-uppercase">
                {{data.title}}
            </h3>
            <div class="uk-card-text">{{data.desc}}</div>
            <p class="uk-text-success uk-text-right">- {{data.date}}</p>
            <div class="uk-button-group">
                <a href="#" class="uk-button uk-button-primary uk-button-small"><i class="far fa-thumbs-up"></i> 30</a>
                <a href="#" class="uk-button uk-button-primary uk-button-small"><i class="far fa-thumbs-down"></i>
                    20</a>
            </div>
        </div>
    </div>

    {% endblock content %}
</div>