{% extends "layout.html" %} {% block content %}
<br>

<div class="uk-container">
    <div class="uk-child-width-expand@s uk-text-center" uk-grid>

        {% for data in data %}
        <div class="uk-width-1-3@m">
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="http://localhost:8000/static/{{data.image}}" alt="{{data.name}}">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title uk-text-primary uk-text-uppercase">
                        {{data.title}}
                    </h3>
                    <div class="uk-card-text uk-text-truncate">
                        {{data.desc}}
                    </div>
                    <p class="uk-text-success uk-text-right">- {{data.date}}</p>
                    <div class="uk-button-group">
                        <a href="/blogs/{{data.id}}" class="uk-button uk-button-primary uk-button-small">SHOW</a>
                        <a href="" class="uk-button uk-button-success uk-button-small">UPDATE</a>
                        <a href="/delete_blog/{{data.id}}" class="uk-button uk-button-danger uk-button-small">DELETE</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>





    {% endblock content %}